body{

    /* background: #d97e2f; */
    /* background: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

/* .img-2{

    background-image: url('../images/bg-2.jpg');
   
  
} */